################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio1/.vs/Laboratorio1
/Laboratorio2/.vs/Laboratorio2
